#loadingMessage {
    text-align: center;
}

#openedProject {
    position: fixed;
    z-index: 100;
}

.projectBox {
    background-color: rgb(34, 63, 63);
    color: cyan;
    border-width: 2px;
    outline: aqua;
    position: absolute;
    width: 500px;
    /* height: 500px; */
    border-radius: 35px;
}

iframe {
    position: absolute;
    background-color: white;
    width: 65%;
    left: 5%;
    height: 95%;
    top: 2%;
    border-radius: 25px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

canvas {
    display: block !important;
    position: absolute;
    margin: 0;
    filter: drop-shadow(-10px 0px 14px #000000) brightness(0.5);
    position: fixed;
}

#main {
    position: absolute;
    z-index: 5;
    width: 65%;
    left: 0%;
    top: -55px;
    padding: 5%;
    text-align: center;
}

#welcomeTitle {
    background: #00beff5c;
    border-radius: 18px;
    backdrop-filter: blur(2px);
    padding: 18px;
    color: #00ff80;
}

#introContent {
    background: #0000005c;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    padding: 11%;
    color: #00ff80;
    font-weight: 600;
}

#controls {
    position: fixed;
    top: 93%;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.164);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.controlButton {
    background-color: #002a31c9;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

#animToggleElm {
    background-color: rgba(255, 0, 0, 0.527);
}

#searchBox {
    position: absolute;
    left: 75%;
    z-index: 4;
    background-color: rgb(0, 255, 115);
    border-radius: 25px;
    padding: 10px;
}

#projects {
    position: absolute;
    left: 75%;
    z-index: 2;
    margin: 10px;
}

#defaultCanvas0 {
    width: 75% !important;
    height: 100vh !important;
}

#shaderCanvas {
    width: 25% !important;
    height: 100vh !important;
    left: 75%;
    filter: drop-shadow(-10px 0px 14px #000000);
    /* box-shadow: -5px 0px #888888; */
}

.projectDesc {
    font-size: 12px;
}

.projectCell {
    background-color: #002a3152;
    color: white;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
}

.folderCell {
    background-color: #28004e8e;
    backdrop-filter: blur(10px);
    color: white;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
    width: 23vw;
}

.expandButton {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.479);
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
}

.scriptLink {
    display: inline;
    padding: 5px;
}

.openProjectButton {
    color: silver;
    text-decoration: underline;
    cursor: pointer;
}

a {
    color: silver;
}