#loadingMessage {
    text-align: center;
}

#openedProject {
    position: fixed;
}

.projectBox {
    background-color: rgb(34, 63, 63);
    color: cyan;
    border-width: 2px;
    outline: aqua;
    position: absolute;
    width: 500px;
    /* height: 500px; */
    border-radius: 35px;
}

iframe {
    position: absolute;
    background-color: white;
    width: 65%;
    left: 5%;
    height: 95%;
    top: 2%;
    border-radius: 25px;
}

body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block !important;
    position: absolute;
    margin: 0;
    filter: drop-shadow(-10px 0px 14px #000000) brightness(0.5);
    position: fixed;
}

#searchBox {
    position: absolute;
    left: 75%;
    z-index: 4;
    background-color: rgb(0, 255, 115);
    border-radius: 25px;
    padding: 10px;
}

#projects {
    position: absolute;
    left: 75%;
    z-index: 2;
    margin: 10px;
}

#defaultCanvas0 {
    width: 75% !important;
    height: 100vh !important;
}

#shaderCanvas {
    width: 25% !important;
    height: 100vh !important;
    left: 75%;
    filter: drop-shadow(-10px 0px 14px #000000);
    /* box-shadow: -5px 0px #888888; */
}

.projectDesc {
    font-size: 12px;
}

.projectCell {
    background-color: #002a3152;
    color: white;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
}

.folderCell {
    background-color: #28004e8e;
    color: white;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
    width: 23vw;
}

.expandButton {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.479);
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
}

a {
    color: silver;
}