@media (orientation:landscape) {
    #loadingMessage {
        text-align: center;
    }

    #openedProject {
        position: fixed;
        z-index: 100;
    }

    .projectBox {
        background-color: rgb(34, 63, 63);
        color: cyan;
        border-width: 2px;
        outline: aqua;
        position: absolute;
        width: 500px;
        /* height: 500px; */
        border-radius: 35px;
    }

    iframe {
        position: absolute;
        background-color: white;
        width: 65%;
        left: 5%;
        height: 91%;
        top: 2%;
        border-radius: 25px;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    canvas {
        display: block !important;
        position: absolute;
        margin: 0;
        filter: brightness(0.5);
        position: fixed;
    }

    #main {
        position: absolute;
        z-index: 5;
        width: 65%;
        left: 0%;
        top: -55px;
        padding: 5%;
        text-align: center;
    }

    #welcomeTitle {
        background: #00beff5c;
        border-radius: 18px;
        backdrop-filter: blur(2px);
        padding: 18px;
        color: #00ff80;
    }

    #introContent {
        text-align: left;
        background: #0000005c;
        border-radius: 10px;
        backdrop-filter: blur(2px);
        padding: 11%;
        color: #00ff80;
        font-weight: 600;
    }

    #controls {
        position: fixed;
        bottom: 0.5%;
        left: 2%;
        z-index: 200;
        background-color: rgba(0, 0, 0, 0.164);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
    }

    .controlButton {
        background-color: #002a31c9;
        padding: 5px;
        border-radius: 10px;
        color: white;
    }

    #animToggleElm {
        background-color: rgba(255, 0, 0, 0.527);
    }

    #searchBox {
        position: absolute;
        left: 75%;
        z-index: 4;
        background-color: rgb(0, 255, 115);
        border-radius: 25px;
        padding: 10px;
    }

    #projects {
        position: absolute;
        left: 75%;
        z-index: 2;
        margin: 1%;
        width: 23%;
    }

    #defaultCanvas0 {
        width: max(1920px, 75%) !important;
        height: max(1080px, 100vh) !important;
    }

    #shaderCanvas {
        width: 25% !important;
        height: 100vh !important;
        left: 75%;
        filter: drop-shadow(-10px 0px 14px #000000);
    }

    .projectDesc {
        font-size: 12px;
    }

    .projectCell {
        background-color: #001d228f;
        color: white;
        margin: 10px;
        padding: 8px;
        border-radius: 5px;
    }

    .folderCell {
        background-color: #28004e8e;
        backdrop-filter: blur(10px);
        color: white;
        margin: 1.5%;
        padding: 3%;
        border-radius: 5px;
        width: 91%;
        position: relative;
    }

    .expandButton {
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.479);
        margin: 10px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 1px;
        padding-bottom: 1px;
        border-radius: 5px;
    }

    .githubLink {
        color: rgb(233, 233, 233);
        text-decoration: underline;
        cursor: pointer;
    }

    .openProjectButton {
        color: silver;
        cursor: pointer;
        outline-style: solid;
        outline-width: 1px;
        border-radius: 5px;
        margin: 3px;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.45);
    }

    a {
        color: silver;
        text-decoration: none;
    }

    .ratingBox {
        background-color: #00000057;
        padding: 5px;
        border-radius: 8px;
    }
}


@media (orientation: portrait) {
    #loadingMessage {
        text-align: center;
    }

    #openedProject {
        display: none;
    }

    .projectBox {
        background-color: rgb(34, 63, 63);
        color: cyan;
        border-width: 2px;
        outline: aqua;
    }

    iframe {
        background-color: white;
        border-radius: 25px;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: #00ff2a;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    canvas {
        display: block !important;
        position: absolute;
        margin: 0;
        filter: brightness(0.5);
    }

    #main {
        z-index: 5;
        text-align: center;
    }

    #welcomeTitle {
        background: #00beff5c;
        border-radius: 18px;
        backdrop-filter: blur(2px);
        padding: 18px;
        color: #00ff80;
        margin: 10px;
    }

    #introContent {
        text-align: left;
        background: #0000005c;
        border-radius: 10px;
        backdrop-filter: blur(2px);
        padding: 4%;
        color: #00ff80;
        font-weight: 600;
        margin: 20px
    }

    #controls {
        position: fixed;
        bottom: 1%;
        left: 1%;
        z-index: 200;
        background-color: rgba(0, 0, 0, 0.164);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
    }

    .controlButton {
        background-color: #002a31c9;
        padding: 5px;
        border-radius: 10px;
        color: white;
    }

    #animToggleElm {
        background-color: rgba(255, 0, 0, 0.527);
    }

    #closeProjectElm {
        display: none;
    }

    #searchBox {
        z-index: 4;
        background-color: rgb(0, 201, 236);
        border-radius: 25px;
        padding: 10px;
    }

    #projects {
        z-index: 2;
        width: 94%;
        padding: 2%;
        margin-left: 1%;
        margin-right: 1%;
        padding-bottom: 55px;
        margin-top: 20px;
        margin-bottom: 10px;
        background-color: #00ff2a57;
        backdrop-filter: blur(5px);
        border-radius: 20px;
    }

    #defaultCanvas0 {
        top: 0%;
        position: fixed;
        z-index: -100;
        overflow: hidden;
        width: max(1920px, 100vw) !important;
        height: max(1080px, 100vh) !important;
    }

    #shaderCanvas {
        display: none !important;
    }

    .projectDesc {
        font-size: 12px;
    }

    .projectCell {
        background-color: #0000004d;
        color: white;
        margin: 10px;
        padding: 8px;
        border-radius: 5px;
    }

    .folderCell {
        position: relative;
        background-color: #003c58c2;
        color: white;
        margin: 1%;
        padding: 2%;
        border-radius: 5px;
        width: 94%;
    }

    .expandButton {
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.479);
        margin: 10px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 1px;
        padding-bottom: 1px;
        border-radius: 5px;
        font-family: monospace;
    }

    .githubLink {
        color: rgb(233, 233, 233);
        text-decoration: underline;
        cursor: pointer;
    }

    .openProjectButton {
        color: silver;
        cursor: pointer;
        outline-style: solid;
        outline-width: 1px;
        border-radius: 5px;
        margin: 3px;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.45);
    }

    .openInIframeButton {
        display: none;
    }

    a {
        color: silver;
        text-decoration: none;
    }

    .ratingBox {
        background-color: #00000063;
        padding: 5px;
        border-radius: 8px;
    }
}

@media (max-width:1100px) and (orientation: landscape) {
    .openProjectButton {
        color: silver;
        cursor: pointer;
        outline-style: solid;
        outline-width: 1px;
        border-radius: 5px;
        margin: 3px;
        padding: 5px;
        display: block;
        background-color: rgba(0, 0, 0, 0.45);
    }
}